{% load static %}
{% load bootstrap4 %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/styles_cadastros.css' %}">

    {% bootstrap_css %}
</head>
<body>

    <div class="header">

        <h1> Cadastro de Funcionário</h1>
    </div>
    <div class="container">
        
        <form action="{% url 'horarios_funcionarios' %}" method="POST" class="form">
            
            {% csrf_token %}
            {% bootstrap_form form %}
            
            {% buttons %}
                <button class="btn btn-primary">Cadastrar</button>
                <a href="{% url 'administrativo_funcionarios' 'funcionario' %}" class="btn-voltar">Cancelar</a>
            {% endbuttons %}
        </form>
        
    </div>

    {% bootstrap_javascript jquery='full'%}
</body>
</html>